---
to: "Cargo.toml"
---
[workspace]
resolver = "2"
members = [
    "crates/*"
]

[workspace.package]
edition = "{{ edition }}"
license = "MIT OR Apache-2.0"
repository = "https://github.com/seanchatmangpt/unibit"
rust-version = "1.82"

[workspace.lints.rust]
unsafe_op_in_unsafe_fn = "deny"

[workspace.lints.clippy]
unwrap_used = "deny"
expect_used = "deny"
panic = "deny"
alloc_instead_of_core = "warn"
std_instead_of_core = "warn"